<div>
  <h1 class="text-h1">Section 1</h1>
  <h2 class="text-h2">Section 2</h2>
  <h3 class="text-h3">Section 3</h3>
  <h4 class="text-h4">Section 4</h4>
  <h5 class="text-h5">Section 5</h5>
  <h6 class="text-h6">Section 6</h6>
</div>

