<p>I <t>really</t> like data visualisation!</p>
<style>
    p {font-family:'Courier New', Courier, monospace;
      font-size: 250%;
      color: steelblue;
    }
    t{
      color:rgba(0, 0, 255, 0.411);}
  </style>
  