<script>
const radius= 4
const circumference = (radius) => Math.round(radius**2* Math.PI* 100) / 100;
</script>
<p>
    The circumference of a circle with radius {radius}m is {circumference(radius)}m .
</p>
